*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",serif;
  --bgClr:  rgba(27, 41, 41, 0.9);
  --shadowClr: rgba(255, 228, 196, 0.4);

}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(55deg, darkblue, darkorchid);
  color:azure
}
h1 {
  font-family: "Lobster",serif;
  padding: 2em;
}
h2{
  font-family: "Audiowide";
}

.containter {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  /* padding: 100px 50px; */
}

.containter .card{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 350px; 
  height: 300px;
  background: var(--bgClr);
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 2px 15px 30px var(--shadowClr);
}

.containter .card:hover{
  /* height: 400px; */
  scale: 1 1.25;
  box-shadow: 5px 25px 50px var(--shadowClr);
}


.containter .card .imgBx {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 200px;
  background: bisque;
  border-radius: 12px; 
  transition: 0.5s;
  overflow: hidden;
}

.containter .card:hover .imgBx {
  top:-100px;
  scale: 0.8;
  box-shadow: 0 15px 45px bisque;
}

.imgBx img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

.content {
  position: absolute;
  top: 252px;
  width: 100%;
  padding: 0 2rem;
  height: 35px;
  text-align: center;
  overflow: hidden;
  text-align: center;
  transition: 0.5s;
}

.card:hover .content {
  top:110px;
  height: 250px;
  /* anular la escala del texto aplicada en card */
  scale: 1 0.8; 
}

.content h2{
  font-size: 1.5em;
  font-weight: 700;
  color: aquamarine;
}

.content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  background: antiquewhite;
  text-decoration: none;
}

.content p {
  font-size: small;
}